@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 400px;
  height: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars on the body itself */
}

#root {
  width: 100%;
  height: 100%;
}